body {
	background-color: #607d8b;
}

.App {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	display: grid;
	grid-template: auto 1fr / 1fr;
	grid-gap: 20px;
}

.search-results {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 20px;
	padding: 0 20px 20px;
}

.search-item {
	grid-column: span 6;

	@media screen and (min-width:700px) {
		grid-column: span 3;
	}

	@media screen and (min-width:900px) {
		grid-column: span 2;
	}

	img {
		width: 100%;
		height: auto;
	}
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
